{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>SciPy 2014 Venue Floor Maps</h1>

<p>Level M-1</p>
<img src="../site_media/static/img/att_level_1.png" alt="AT&amp;T Executive Education and Conference Center Level 1" width="100%">
<br />
<br />
<p>Level M-2</p>
<img src="../site_media/static/img/att_level_2.png" alt="AT&amp;T Executive Education and Conference Center Level 1" width="100%">
<br />
<br />
<p>Level M-3</p>
<img src="../site_media/static/img/att_level_3.png" alt="AT&amp;T Executive Education and Conference Center Level 1" width="100%">

{% endblock %}