{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>{% trans "Venue Lodging Details" %}</h1>

<!-- FIXME Add photo of hotel
<img src="../site_media/static/img/attHotel.jpg" alt="AT&amp;T Executive Conference Center Hotel" height="233" width="350" class="right" />
-->

<p>{% trans "
There are many lodging options near the Federal University of Santa Catarina.
" %}</p>

<p>{% trans "
Lodging options with discounts for SciPyLA 2016 attends will be listed here soon.
Please visit this page later.
" %}</p>

<p>{% trans "
For more options you can visit <a href="http://booking.com/">Booking</a>
and <a href="http://airbnb.com/">AirBnb</a>.
" %}</p>
{% endblock %}
