{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>SciPyLA 2016 Venue</h1>

<!-- FIXME Add photo of UFSC
<img src="../site_media/static/img/att.jpg" alt="AT&amp;T Executive Education and Conference Center" width="427" height="285" class="right">
-->

<p>SciPyLA 2016 will be held at the Federal University of Santa Catarina campus in Florianópolis, Santa Catarina, Brazil.</p>

<p>
The university is located in the heart of Florianópolis, allowing easy access to the city's renowned
<a href="http://www.pmf.sc.gov.br/entidades/turismo/index.php?cms=atrativos+naturais+++praias&menu=6">beaches</a>,
<a href="http://www.pmf.sc.gov.br/entidades/turismo/index.php?cms=parques+municipais&menu=6">parks</a>,
<a href="http://www.pmf.sc.gov.br/entidades/turismo/index.php?cms=atrativos+turisticos+culturais&menu=6">museums</a>,
and <a href="http://www.floripacreativecity.com/">restaurants</a>.
</p>

{% endblock %}
