{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>SciPyLA 2016 Venue</h1>

<img src="../site_media/static/img/att.jpg" alt="AT&amp;T Executive Education and Conference Center" width="427" height="285" class="right">

<p>SciPyLA 2016 will be held at the AT&amp;T Executive Education and Conference Center at the University of Texas campus in Austin, Texas. The newly-constructed complex provides first class meeting facilities, cutting-edge multimedia technology, and outstanding dining and accommodation options on-site.</p>

<p>The conference center is located in the heart of Austin, allowing easy access to the city's renowned 
<a href="http://www.austintexas.gov/resident/parks-and-wildlife">parks</a>, <a href="http://www.austintexas.org/visit/music_scene/">music venues</a>, and <a href="http://www.yelp.com/c/austin/restaurants">restaurants</a>.</p>

{% endblock %}