{% load i18n %}
<footer class="footer">
    SciPyLA 2016 | <a
        href="https://conference.scipy.org/scipyla2016/privacy_policy/">{% trans
        "Privacy Policy" %}</a> | {% trans "contact" %}: <a href="mailto:scipy-organizers@scipy.org">scipy-organizers@scipy.org</a><br />
    {% trans "<a href="https://github.com/pinax/symposion/"><b>Symposion</b></a>:
    a Pinax project sponsored by
    <a href="http://eldarion.com/">Eldarion</a>
    and the
    <a href="http://www.python.org/psf/">Python Software Foundation</a>." %}
</footer>
