{% load i18n %}

<h2>{% trans "General Sponsorship Packages Available:" %}</h2>

<div class="row" style="border-bottom: 1px solid #003399;">
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">{% trans "Platinum" %} <span style="font-size: 0.75em;">{% trans "(two available)" %}</span></div>
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">{% trans "US$3,000" %}</div>
</div>

<p>{% trans "Benefits:" %}</p>
<ul>
  <li>{% trans "Platinum Sponsor link with logo on SciPyLA 2016 website" %}</li>
  <li>{% trans "90 cm x 180 cm banner (sponsor provided) in main session auditorium" %}</li>
  <li>{% trans "logo listed as Platinum Sponsor on 90 cm x 180 cm Sponsor Banner at main entrance" %}</li>
  <li>{% trans "Promotion of jobs to attendee list" %}</li>
  <li>{% trans "Opportunity to host two pre-event workshop (one on Monday and another on Tuesday)" %}</li>
  <li>{% trans "1/2 page advertisement in program" %}</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">{% trans "Gold" %} <span style="font-size: 0.75em;">{% trans "(four available)" %}</span></div>
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">{% trans "US$2,500" %}</div>
</div>

<p>{% trans "Benefits:" %}</p>
<ul>
  <li>{% trans "Gold Sponsor link with logo on SciPyLA 2016 website" %}</li>
  <li>{% trans "logo listed as Gold Sponsor on 90 cm x 180 cm Sponsor Banner at main entrance" %}</li>
  <li>{% trans "Promotion of jobs to attendee list" %}</li>
  <li>{% trans "Opportunity to host one pre-event workshop on Monday or Tuesday" %}</li>
  <li>{% trans "1/4 page advertisement in program" %}</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">{% trans "Silver" %} <span style="font-size: 0.75em;">{% trans "(six available)" %}</span></div>
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">{% trans "US$1,250" %}</div>
</div>

<p>{% trans "Benefits:" %}</p>
<ul>
  <li>{% trans "Silver Sponsor link with logo on SciPyLA 2016 website" %}</li>
  <li>{% trans "logo listed as Silver Sponsor on 90 cm x 180 cm Sponsor Banner at main entrance" %}</li>
  <li>{% trans "1/8 page advertisement in program" %}</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">{% trans "Bronze" %} <span style="font-size: 0.75em;">{% trans "(eight available)" %}</span></div>
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">{% trans "US$1,000" %}</div>
</div>

<p>{% trans "Benefits:" %}</p>
<ul>
  <li>{% trans "Bronze Sponsor link with logo on SciPyLA 2016 website" %}</li>
  <li>{% trans "Name listed as Bronze Sponsor on 90 cm x 180 cm Sponsor Banner at main entrance" %}</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">{% trans "Friend" %}</div>
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">{% trans "in-kind resources" %}</div>
</div>

<p>{% trans "Benefits:" %}</p>
<ul>
  <li>{% trans "Friend Sponsor link with logo on SciPyLA 2016 website" %}</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">{% trans "Media and Community Sponsors" %}</div>
    <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">{% trans "co-promotion" %}</div>
</div>

<p>{% trans "Promotion opportunities:" %}</p>
<ul>
  <li>{% trans "logo on website" %}</li>
  <li>{% trans "email to conference list" %}</li>
  <li>{% trans "social media promotion" %}</li>
  <li>{% trans "mention in newsletter" %}</li>
  <li>{% trans "..." %}</li>
</ul>

<p>{% trans "Please email <a href='mailto:scipy-organizers@scipy.org'>scipy-organizers@scipy.org</a> with any questions or to reserve your Sponsorship Package." %}</p>
