{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>SciPyLA 2016 Sponsorship</h1>

<p>
As a community, SciPy advances scientific and analytic computing through the 
development and promotion of open source Python software; Python usage 
continues to grow significantly in scientific and analytic computing thanks to 
the efforts of this community.
</p>

<!-- FIXME The attendance is incorrect. -->
<p>
The annual SciPyLA Conference brings together academic and industry users to 
present their latest work, learn from skilled users and developers, and 
collaborate on advancing the ecosystem. Attendance in 2013 grew 70% to 330 
people; our goal for 2014 is 500+. And based on feedback from last year’s 
attendees, we’ve increased the length of the conference by one day to 
accommodate all the events and talks.
</p>

<p>2-days of Tutorials</p>

<p style="padding-left: 2em;">
We provide two days of expert-led tutorials at the start of the conference.
These tutorials are very popular,
with an introductory track for attendees new to Python,
and intermediate and advanced tracks for experienced users.
</p>

<p>3-days of Talks, Poster Sessions</p>

<p style="padding-left: 2em;">
Authors share their juried presentations and
poster papers covering the latest developments
in the use of Python in science during the three main days of the conference.
Presentations, posters, lightning talks provide
a wide variety of opportunities for attendees to participate and learn.
</p>

<h2>Why Sponsor?</h2>

<h3>Contribute to the growth of the community and code base:</h3>

<p>
Your sponsorship helps us build a financial foundation for the conference
and the community, providing more opportunities for the community to build out
the Python scientific computing tools and packages.
</p>

<h3>Build awareness, recruit, and make contacts:</h3>

<p>
SciPyLA brings together some of the best minds
in scientific and analytic computing, 25% of them students;
you’ll be hard-pressed to find this kind of audience anywhere else.
</p>

<h3>Help fund attendance:</h3>

<!-- FIXME Need data from 2015 -->
<p>
SciPyLA offers scholarships for students and researchers
who contribute to the community.
In 2013 we were able to pay the travel, registration, and lodging 
costs for 15 applicants selected for their outstanding contributions to open 
source scientific Python projects. In the last 8 years over 70 students have 
attended from countries around the world.
</p>

<p>
Sponsorships also help us to keep this meeting very affordable
compared to many others.
</p>

<h2>2016 Sponsor Participation</h2>

<p>
SciPyLA 2016 was sponsored by
Universidade Gastón Dachary,
Machinalis,
Python Software Foundation,
GitHub,
Enthought.

{% include "sponsor_levels_alone.html" %}

{% endblock %}
