<h2>General Sponsorship Packages Available:</h2>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Platinum <span style="font-size: 0.75em;">(two available)</span></div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">US$5,000</div>
</div>

<p>Benefits:</p>
<ul>
  <li>Platinum Sponsor link with logo on SciPyLA 2016 website</li>
  <li>33' x 78' banner (sponsor provided) in main session auditorium</li>
  <li>9' x 9' logo listed as Platinum Sponsor on 33' x 78' Sponsor Banner at main entrance</li>
  <li>Promotion of jobs to attendee list</li>
  <li>Opportunity to host two pre-event workshop (one on Monday and another on Tuesday)</li>
  <li>1/2 page advertisement in program</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Gold <span style="font-size: 0.75em;">(four available)</span></div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">US$3,000</div>
</div>

<p>Benefits:</p>
<ul>
  <li>Gold Sponsor link with logo on SciPyLA 2016 website</li>
  <li>6.5' x 6.5' logo listed as Gold Sponsor on 33' x 78' Sponsor Banner at main entrance</li>
  <li>Promotion of jobs to attendee list</li>
  <li>Opportunity to host one pre-event workshop on Monday or Tuesday</li>
  <li>1/4 page advertisement in program</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Silver <span style="font-size: 0.75em;">(six available)</span></div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">$2,000</div>
</div>

<p>Benefits:</p>
<ul>
  <li>Silver Sponsor link with logo on SciPyLA 2016 website</li>
  <li>4' x 4' logo listed as Silver Sponsor on 33' x 78' Sponsor Banner at main entrance</li>
  <li>1/8 page advertisement in program</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Bronze</div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">$1,000</div>
</div>

<p>Benefits:</p>
<ul>
  <li>Bronze Sponsor link with logo on SciPyLA 2016 website</li>
  <li>Name listed as Bronze Sponsor on 33' x 78' Sponsor Banner at main entrance</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Friend</div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">in-kind resources</div>
</div>

<p>Benefits:</p>
<ul>
  <li>Friend Sponsor link with logo on SciPyLA 2016 website</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Media and Community Sponsors</div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">co-promotion</div>
</div>

<p>Promotion opportunities:</p>
<ul>
  <li>logo on website</li>
  <li>email to conference list</li>
  <li>social media promotion</li>
  <li>mention in newsletter</li>
  <li>...</li>
</ul>

<p>Please email <a href="mailto:scipy-organizers@scipy.org">scipy-organizers@scipy.org</a> with any questions or to reserve your Sponsorship Package.
</p>
