{% extends "site_base.html" %}

{% load url from future %}


{% load i18n %}
{% load cache %}
{% load sitetree %}

{% block head_title %}Poster Listing{% endblock %}

{% block extra_head %}
    <style>
        .presentation {

        }
        .presentation h3 {
            line-height: 1.1em;
            font-weight: bold;
        }
        .presentation h4 {

        }
        .presentation p {
            margin-bottom: 0.5em;
            line-height: 1.2em;
        }
    </style>
{% endblock %}

{% block breadcrumbs %}{% sitetree_breadcrumbs from "main" %}{% endblock %}

{% block body %}
<h2>Accepted Posters</h2>
  {% for poster in posters %}
  <div class="row">
    <div class="span8 presentation well {{ poster.topic }} {{ poster.domain }}">
      <h3>{{ poster.title }}</h3>
      <h4>{{ poster.speaker }}</h4>
      {{ poster.description }}
      <br>Topic Track: {{ poster.get_topic_display }} Domain Symposium: {{ poster.get_domain_display }}
    </div>
  </div>
  {% endfor %}
{% endblock %}
