{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Talk and Poster Presentations Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>SciPy 2014 Talk and Poster Presentations</h1>

{% box "presentation-guidelines" %}

<h2>Accepted Presentations</h2>

<p> Accepted poster presentations are listed at 
<a 
  href="https://conference.scipy.org/scipy2014/posters/">conference.scipy.org/scipy2014/posters</a>.

<p> The schedulte of talks is listed within the full schedule at  
<a 
  href="https://conference.scipy.org/scipy2014/schedule/">conference.scipy.org/scipy2014/schedule</a>.

<h2>Call for Submissions (now closed)</h2>

<p>SciPy 2014, the thirteenth annual Scientific Computing with Python
conference, will be held this July 6th-12th in Austin, Texas. SciPy
is a community dedicated to the advancement of scientific computing
through open source Python software for mathematics, science, and
engineering. The annual SciPy Conference allows participants from
academic, commercial, and governmental organizations to showcase their
latest projects, learn from skilled users and developers, and
collaborate on code development.</p>

<p><strong>We invite proposals for 20 minute talk and poster presentation by April 1, 2014</strong></p>

<h3>Specialized Tracks</h3>

<p>This year we are happy to announce two specialized tracks that run in parallel to
the general conference:</p>

<h3>Scientific Computing in Education</h3>

<h2>Call for Submissions</h2>

<p>SciPy 2014, the thirteenth annual Scientific Computing with Python
conference, will be held this July 6th-12th in Austin, Texas. SciPy
is a community dedicated to the advancement of scientific computing
through open source Python software for mathematics, science, and
engineering. The annual SciPy Conference allows participants from
academic, commercial, and governmental organizations to showcase their
latest projects, learn from skilled users and developers, and
collaborate on code development.</p>

<p><strong>We invite proposals for 20 minute talk and poster presentation by April 1, 2014</strong></p>

<h3>Specialized Tracks</h3>

<p>This year we are happy to announce two specialized tracks that run in parallel to
the general conference:</p>

<h3>Scientific Computing in Education</h3>

<p>Thanks to efforts such as Software Carpentry, the Hacker Within and grassroots
Python Bootcamps, teaching scientific computing as a discipline is becoming
more widely accepted and recognized as a crucial task in developing scientific
literacy.  This special track will focus on efforts to promote and develop
scientific computing education, as well as related topics such as
reproducibility and best practices for scientific computing.</p>

<h3>Geospatial Data in Science</h3>

<p>Python has become a core component of organiziing, understanding, and
visualizing geospatial data.  This track will focus on libraries, tools and
techniques for processing Geospatial data of all types and for all purposes --
from low-volume to high-volume, local and global.</p>

<h3>Domain-specific Mini-symposia</h3>

<p>Introduced in 2012, mini-symposia are held to discuss scientific
computing applied to a specific scientific domain/industry during a
half afternoon after the general conference. Their goal is to promote
industry specific libraries and tools, and gather people with similar
interests for discussions. </p>

<p>Mini-symposia on the following topics will take place this year:

<ul style="list-style-position: inside;  padding-left: 1em;">
  <li>Astronomy and astrophysics</li>
  <li>Bioinformatics</li>
  <li>Geophysics</li>
  <li>Vision, Visualization, and Imaging</li>
  <li>Computational Social Science and Digital Humanities</li>
  <li>Engineering</li>
</ul>
</p>

<h3>Proposal Submission</h3>

<p>To submit a proposal, <a href="https://conference.scipy.org/scipy2014/account/signup/">sign up</a> or <a href="https://conference.scipy.org/scipy2014/account/login/">log in</a> to your account and proceed to your <a href="https://conference.scipy.org/scipy2014/dashboard/">account dashboard</a>.</p>


    <p>
    Click
    <ul style="list-style-position: inside;  padding-left: 1em;"><li>submit proposal</li><li>talk/poster</li><li>create new... </li></ul></p>

    <p>
    For the submission you will need the following information:
    </p>

    <p><strong>The Brief Description</strong>: The brief description you fill out below will appear in the online program.</p>
    <p><strong>The Detailed Abstract</strong>: Your placement in the program will be based on reviews of your detailed abstract. This should be a 150-300 word detailed outline of your presentation. This detailed abstract should concisely describe software of interest to the SciPy community, tools or techniques for more effective computing, or how scientific Python was applied to solve a research problem. A traditional background/motivation, methods, results, and conclusion structure is encouraged but not required. Links to project websites, source code repositories, figures, full papers, and evidence of public speaking ability are encouraged.</p>


<h3>Review and Proceedings</h3>

<p>
Each abstract will be peer-reviewed by multiple members of the Program Committee Board. Abstracts will be accepted for posters or presentations. Optional papers to be published in the conference proceedings will be requested following abstract submission. This year the proceedings will be made available prior to the conference to help attendees navigate the conference.</p>


<p>Accepted presentations will be announced on May 1st.</p>


<h3>The SciPy 2014 Program Chairs</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Katy Huff, Nuclear Engineering, University of California - Berkeley </li>
<li>Sergio J. Rey, School of Geographical Sciences and Urban Planning, Arizona State University</li>
</ul>
{% endblock %}
