{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>SciPy 2014 Conference Announcement</h1>

<p>SciPy 2014, the thirteenth annual Scientific Computing with Python conference, will be held this July 6th-12th in Austin, Texas. SciPy is a community dedicated to the advancement of scientific computing through open source Python software for mathematics, science, and engineering. The annual SciPy Conference allows participants from all types of organizations to showcase their latest projects, l earn from skilled users and developers, and collaborate on code development.</p>

<p>This year the conference has been extended to include an additional day of presentations. During the presentation days SciPy is proud to host the following event and talk types:</p>

<ul>
  <li>Keynotes</li>
  <li>Expert Panels</li>
  <li>Short Talks</li>
  <li>Poster Presentations</li>
  <li>Birds of a Feather Sessions</li>
</ul>

<p>The full program will consist of two days of tutorials by followed by three days 
of presentations, and concludes with two days of developer sprints on projects of 
interest to attendees.  This year, we are excited to present a job fair for the 
first time!</p>

<h2>Specialized Tracks</h2>

<p>This year we are happy to announce two specialized tracks that run in parallel to 
the general conference:</p>

<h3>Scientific Computing in Education</h3>

<p>Thanks to efforts such as Software Carpentry, the Hacker Within and grassroots
Python Bootcamps, teaching scientific computing as a discipline is becoming
more widely accepted and recognized as a crucial task in developing scientific
literacy.  This special track will focus on efforts to promote and develop
scientific computing education, as well as related topics such as
reproducibility and best practices for scientific computing.</p>

<h3>Geospatial Data in Science</h3>

<p>Python has become a core component of organiziing, understanding, and
visualizing geospatial data.  This track will focus on libraries, tools and
techniques for processing Geospatial data of all types and for all purposes --
from low-volume to high-volume, local and global.</p>

<h3>Domain-specific Mini-symposia</h3>

<p>Introduced in 2012, mini-symposia are held to discuss scientific
computing applied to a specific scientific domain/industry during a
half afternoon after the general conference. Their goal is to promote
industry specific libraries and tools, and gather people with similar
interests for discussions. </p>

<p>Mini-symposia on the following topics will take place this year:</p>

<ul>
  <li>Astronomy and astrophysics</li>
  <li>Bioinformatics</li>
  <li>Geophysics</li>
  <li>Vision, Visualization, and Imaging</li>
  <li>Computational Social Science and Digital Humanities</li>
  <li>Engineering</li>
</ul>

<h2>Tutorials</h2>

<p>Multiple interactive half-day tutorials will be taught by community experts.
The tutorials provide conceptual and practical coverage of tools that have
broad interest at both an introductory or advanced level. This year, a
third track will be added, which target specifically programmers with no
prior knowledge of scientific python. </p>

<h2>Developer Sprints</h2>

<p>A hackathon environment is setup for attendees to work on the core SciPy
packages or their own personal projects.  The conference is an opportunity for
developers that are usually physically separated to come together and engage in
highly productive sessions. It is also an occasion for new community members to
introduce themselves and recieve tips from community experts. This year, some of
the sprints will be scheduled and announced ahead of the conference.</p>

<h2>Birds-of-a-Feather (BOF) Sessions</h2>

<p>Birds-of-a-Feather sessions are self-organized discussions that run parallel to
the main conference.  The BOFs sessions cover primary, tangential, or unrelated
topics in an interactive, discussion setting. This year, some of the BOF
sessions will be scheduled and announced ahead of the conference. </p>

<h2>Important Dates</h2>

<ul>
  <li>March 14th: Presentation abstracts, poster, tutorial submission
  deadline. Application for sponsorship deadline.</li>
  <li>April 17th: Speakers selected</li>
  <li>April 22nd: Sponsorship acceptance deadline</li>
  <li>May 1st: Speaker schedule announced</li>
  <li>May 6th, or 150 registrants: Early-bird registration ends</li>
  <li>July 6-12th: 2 days of tutorials, 3 days of conference, 2 days of sprints</li>
</ul>

<p>We look forward to a very exciting conference and hope to see you all in Austin
this summer!</p>

<p>The SciPy2014 Organizers</p>

{% endblock %}
