{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>The SciPy 2014 Organization Team</h1>

<h2>Executive Committee</h2>

<div class="column_left">
<h3>Conference Chair:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Kelsey Jordahl, Enthought Inc </li>
<li>Andy R. Terrel, Continuum Analytics</li>
</ul>
<br/>

<h3>Program:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Katy Huff, University of California, Berkeley</li>
<li>Serge Rey, Arizona State University </li>
</ul>
<br/>

<h3>Communications:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Anthony Scopatz, University of Wisconsin-Madison</li>
<li>Matthew Turk, Columbia University</li>
</ul>
<br/>

<h3>Birds of Feathers:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Kyle Mandli, University of Texas at Austin</li>
<li>Matt McCormick, Kitware Inc.</li>
</ul>
<br/>

<h3>Proceedings:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Stefan van der Walt, Stellenbosch University</li>
<li>James Bergstra, University of Waterloo</li>
</ul>
<br/>

<h3>Financial Aid:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>John Wiggins, Enthought Inc.</li>
<li>Jeff Daily, Pacific Northwest National Laboratory</li>
</ul>
<br/>
</div>

<div class="column_right">
<h3>Tutorials:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Jake VanderPlas, Univeristy of Washington</li>
<li>Kristen Thyng, Texas A&amp;M University</li>
</ul>
<br/>

<h3>Sprints:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li> Corran Webster, Enthought Inc.</li>
<li> Jonathan Rocher, Enthought Inc.</li>
</ul>
<br/>

<h3>Technical:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li> Matthew Terry, Nextdoor.com</li>
<li> Shiela Migeuz, Columbia University </li>
<li> Jim Ivanoff, Polar Bear Design</li>
</ul>
<br/>

<h3>Sponsors:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Brett Murphy, Enthought Inc.</li>
</ul>
<br/>

<h3>Financial:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Bill Cowan, Enthought Inc.</li>
<li>Jodi Havranek, Enthought Inc.</li>
</ul>
<br/>

<h3>Logistics</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Leah Jones, Enthought Inc.</li>
</ul>
<br/>
</div>
<div style="clear:both"></div>

<h2>Program Committee</h2>

<div class="column_left">
<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Aron Ahmadia</li>
<li>Daniel Arribas</li>
<li>Chris Barker</li>
<li>Dana Bauer</li>
<li>Matthew Brett</li>
<li>Howard Butler</li>
<li>Neal Caren</li>
<li>Aashish Chaudhary</li>
<li>Adina Chuang Howe</li>
<li>Christine Choirat</li>
<li>Dav Clark</li>
<li>Jean Connelly</li>
<li>Matt Davis</li>
<li>Michael Droettboom</li>
<li>Juan Carlos Duque</li>
<li>Daniel Dye</li>
<li>Carson Farmer</li>
<li>David Folch</li>
<li>Sean Gillies</li>
<li>Brian Granger</li>
<li>Paul Ivanov</li>
<li>Mark Janikas</li>
<li>Jackie Kazil</li>
<li>Hans Petter Langtangen</li>
<li>Jason Laura</li>
<li>Daniel J. Lewis</li>
</ul>
</div>
<div class="column_right">
<ul style="list-style-position: inside;  padding-left: 1em;">
<li>WenWen Li</li>
<li>Cindee Madison</li>
<li>Matthew McCormick</li>
<li>Mike McKerns</li>
<li>August Muench</li>
<li>Ana Nelson</li>
<li>Matthew Rocklin</li>
<li>Tom Robitaille</li>
<li>Charles R. Schmidt</li>
<li>Skipper Seabold</li>
<li>Ashton Shortridge</li>
<li>Rich Signell</li>
<li>William Spotz</li>
<li>John Stachurski</li>
<li>Philip Stephens</li>
<li>Tracy Teal</li>
<li>Kristen M. Thyng</li>
<li>Erik Tollerud</li>
<li>Jake van der Plas</li>
<li>Shai Vaingast</li>
<li>Gael Varoquax</li>
<li>Nelle Varoquax</li>
<li>Shaun Walbridge</li>
<li>Xinyue Ye</li>
<li>Alex Zvoleff</li>
</ul>
</div>
<div style="clear:both"></div>

<h2>Diversity Committee</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Patricia Francis-Lyon, University of San Francisco</li>
<li>Katy Huff, University of California, Berkeley</li>
<li>Leah Silen, Numfocus</li>
<li>Kristen Thyng, Texas A&amp;M University</li>
</ul>
<br/>

{% endblock %}
