{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>The SciPy 2014 Organization Team</h1>

<h2>Executive Committee</h2>

<h3>Conference Chair:</h3>

<ul>
<li>Kelsey Jordahl, Enthought Inc </li>
<li>Andy R. Terrel, Continuum Analytics</li>
</ul>

<h3>Program:</h3>

<ul>
<li>Katy Huff, University of California, Berkeley</li>
<li>Serge Rey, Arizona State University </li>
</ul>

<h3>Communications:</h3>

<ul>
<li>Anthony Scopatz, University of Wisconsin-Madison</li>
<li>Matthew Turk, Columbia University</li>
</ul>

<h3>Birds of Feathers:</h3>

<ul>
<li>Kyle Mandli, University of Texas at Austin</li>
<li>Matt McCormick, Kitware Inc.</li>
</ul>

<h3>Proceedings:</h3>

<ul>
<li>Stefan van der Walt, Stellenbosch University</li>
<li>James Bergstra, University of Waterloo</li>
</ul>

<h3>Financial Aid:</h3>

<ul>
<li>John Wiggins, Enthought Inc.</li>
<li>Jeff Daily, Pacific Northwest National Laboratory</li>
</ul>

<h3>Tutorials:</h3>

<ul>
<li>Jake VanderPlas, Univeristy of Washington</li>
<li>Kristen Thyng, Texas A&amp;M University</li>
</ul>

<h3>Sprints:</h3>

<ul>
<li> Corran Webster, Enthought Inc.</li>
<li> Jonathan Rocher, Enthought Inc.</li>
</ul>

<h3>Technical:</h3>

<ul>
<li> Matthew Terry, Nextdoor.com</li>
<li> Shiela Migeuz, Columbia University </li>
<li> Jim Ivanoff, Polar Bear Design</li>
</ul>

<h3>Sponsors:</h3>

<ul>
<li>Brett Murphy, Enthought Inc.</li>
</ul>

<h3>Financial:</h3>

<ul>
<li>Bill Cowan, Enthought Inc.</li>
<li>Jodi Havranek, Enthought Inc.</li>
</ul>

<h3>Logistics</h3>

<ul>
<li>Leah Jones, Enthought Inc.</li>
</ul>


<h2>Diversity Committee</h2>

<ul>
<li>Patricia Francis-Lyon, University of San Francisco</li>
<li>Katy Huff, University of California, Berkeley</li>
<li>Leah Silen, Numfocus</li>
<li>Kristen Thyng, Texas A&amp;M University</li>
</ul>

{% endblock %}
