{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<section id="main">
<h1>SciPy John Hunter Excellence in Plotting Contest</h1>

<p>In memory of John Hunter, we are pleased to announce the Second Annual SciPy John Hunter Excellence in Plotting Competition. This open competition aims to highlight the importance of quality plotting to scientific progress and showcase the capabilities of the current generation of plotting software. Participants are invited to submit scientific plots to be judged by a panel. The winning entries will be announced and displayed at the conference.</p>

<p>John Hunter’s family is graciously sponsoring cash prizes for the contest winners in the following amounts:</p>

<ul>
  <li>1st prize: $1000</li>
  <li>2nd prize: $750</li>
  <li>3rd prize: $500</li>
</ul>

<h2>Instructions</h2>
<ul>
  <li>Entries must be submitted by March 21, 2014 via e-mail to <a href="mailto:plotting-contest@scipy.org">plotting-contest@scipy.org</a></li>
  <li>Plots may be produced with any combination of Python-based tools. (It is not required that they use matplotlib, for example.)</li>
  <li>Source code for the plot must be provided, in the form of Python code and/or IPython notebook, along with a rendering of the plot in PDF format. If the original data can not be shared for reasons of size or licensing, "fake" data may be substituted, along with an image of the plot using real data.</li>
  <li>Each entry must include a 300-500 word abstract describing the plot and its scientific importance for a general scientific audience.</li>
  <li>Entries will be judged on their clarity, innovation and aesthetics, but most importantly for their effectiveness in illuminating real scientific work. Entrants are encouraged to submit plots that were used during the course of research, rather than merely being hypothetical.</li>
  <li>Scipy reserves the right to display any and all entries, whether prize-winning or not, at the conference, use in any materials or on its website, with attribution to the original author(s).</li>
</ul>

<h2>Important dates:</h2>
<ul>
  <li>March 21, 2014: Plotting submissions due</li>
  <li>Winners will be announced during the Scipy conference days.</li>

</ul>

<p>We look forward to exciting submissions that push the boundaries of
plotting.</p>

<p>The SciPy Plotting Contest Organizing Committee:</p>
<ul>
  <li>Michael Droettboom, Space Telescope Science Institute (chair)</li>
  <li>Eric Firing, University of Hawai`i at Manoa</li>
  <li>Jake Vanderplas, University of Washington</li>
</ul>
</section>
{% endblock %}