{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>The SciPyLA 2016 Ambassadors Team</h1>

<h2>Bolivia:</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Horacio Andres Vargas Guzmán - horacio.v.g@gmail.com</li>
</ul>
<br/>

<h2>Costa Rica:</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Jeudy Blanco Vega - jeudyx@gmail.com</li>
</ul>

<h2>Venezuela:</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Francisco Palm - francisco.palm@gmail.com</li>
</ul>

{% endblock %}
