{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "BoFs Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>SciPy 2014 BoFs - Call for Submissions</h1>

<p>
SciPy 2014, the thirteenth annual Scientific Computing with Python conference, will be held this July 6th-12th in Austin, Texas. SciPy is a community dedicated to the advancement of scientific computing through open source Python software for mathematics, science, and engineering. The annual SciPy Conference allows participants from academic, commercial, and governmental organizations to showcase their latest projects, learn from skilled users and developers, and collaborate on code development.
</p>

<p>
SciPy has plenty of opportunities to get together and discuss primary, tangential, or unrelated topics in an interactive, discussion setting.
</p>

<p>In an effort to increase the opportunities for community building, SciPy would like to emphasize the use of birds of a feather (BoFs) sessions. These sessions usually include short presentations by a panel and a moderator with the bulk of the time spent opening up the discussion to everyone in attendance. We will organize a number of BoFs that are of general interest such as state-of-the-project and BoFs based on the themes of the conference and the mini-symposia topics.
</p>

<p>Some example past BoFs include Reproducibility, Teaching Scientific Computing with Python, The Future of Array Oriented Programming, PyNE Updates, Python and Finance, NumFOCUS, Python in Astronomy, SciPy 2013, Collaborating and Contributing in Open Science, and the Matplotlib Enhancement Proposal Discussion.</p>

<p>We would like to solicit the community for ideas and organizers for other BoF topics. Please include a small description of the BoF, possible panelists, and whether you would be willing to moderate.</p>

<p>
To suggest a Birds-of-a-Feather session, fill out a brief description by clicking:
    <ul style="list-style-position: inside;  padding-left: 1em;">
        <li>submit proposal</li>
        <li>bofs</li>
        <li>create new... "</li>
    </ul>
</p>

<h2>The SciPy 2014 BoF Chairs</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Kyle Mandli, Associate Research Scientist in University of Texas Austin</li>
<li>Matt McCormick, Kitware, Inc</li>
</ul>
{% endblock %}
