{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Talk and Poster Presentations Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>{% trans "SciPyLA 2016 Talk and Poster Presentations" %}</h1>

{% box "presentation-guidelines" %}

<!--
<h2>Accepted Presentations</h2>

<p>{% trans "Accepted poster presentations are listed at <a href='https://conference.scipy.org/scipyla2016/posters/'>conference.scipy.org/scipyla2016/posters</a>." %}</p>

<p>{% trans "The schedulte of talks is listed within the full schedule at  <a href='https://conference.scipy.org/scipyla2016/schedule/'>conference.scipy.org/scipyla2016/schedule</a>." %}</p>
-->

<h2>{% trans "Call for Submissions" %}</h2>

<p>{% trans "SciPyLA 2016, the fourth annual Scientific Computing with Python in Latin America conference, will be held this May 16th-20th in Florianópolis, Santa Catarina, Brazil. SciPy is a community dedicated to the advancement of scientific computing through open source Python software for mathematics, science, and engineering. The annual SciPyLA Conference allows participants from academic, commercial, and governmental organizations to showcase their latest projects, learn from skilled users and developers, and collaborate on code development." %}</p>

<p>{% trans "<strong>We invite proposals for 20 minutes talks and poster presentations by April 1, 2014.</strong>" %}</p>

<h3>{% trans "Proposal Submission" %}</h3>

<p>{% trans "To submit a proposal, <a href='https://conference.scipy.org/scipyla2016/account/signup/'>sign up</a> or <a href='https://conference.scipy.org/scipyla2016/account/login/'>log in</a> to your account and proceed to your <a href='https://conference.scipy.org/scipyla2016/dashboard/'>account dashboard</a>." %}</p>


<p>{% trans "Click submit proposal, talk/poster, create new..." %}</p>

<p>{% trans "For the submission you will need the following information:" %}</p>

<p>{% trans "<strong>Brief Description</strong>: The brief description you fill out below will appear in the online program." %}</p>

<p>{% trans "<strong>Detailed Abstract</strong>: Your placement in the program will be based on reviews of your detailed abstract. This should be a 150-300 words detailed outline of your presentation. This detailed abstract should concisely describe software of interest to the SciPy community, tools or techniques for more effective computing, or how scientific Python was applied to solve a research problem. A traditional background/motivation, methods, results, and conclusion structure is encouraged but not required. Links to project websites, source code repositories, figures, full papers, and evidence of public speaking ability are encouraged." %}</p>


<h3>Review and Proceedings</h3>

<p>{% trans "Each abstract will be peer-reviewed by multiple members of the Program Committee Board. Abstracts will be accepted for posters or presentations. Optional papers to be published in the conference proceedings will be requested following abstract submission. This year the proceedings will be made available prior to the conference to help attendees navigate the conference." %}</p>


<p>{% trans "Accepted presentations will be announced on May 1st." %}</p>

<h3>{% trans "The SciPyLA 2016 Program Chairs" %}</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>{% trans "Melissa Weber Mendonça, Federal University of Santa Catarina" %}</li>
</ul>
{% endblock %}
