{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Sprint Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>ScyPyLA 2016 Sprints - Call for Submissions</h1>


{% box "sprinting-guidelines" %}

<!--
<h2>Two Days of Awesome Hacking!</h2>

<p>
SciPyLA 2016 will continue the tradition of two days of Code Sprints following the main conference program. This is a chance to program together and push new features, fix bugs or organize the birth of a new package, in a relaxed, informal environment. Core developers of many of our favorite tools (NumPy, SciPy, matplotlib, scikit-learn, IPython, ...) as well as less well known but no less useful packages will be in town. So what better time to get involved with their development? If you are new to Python or to hacking/sprinting, there is also no better opportunity to learn more about the organization of a package your care about than learning to fix a bug in it, while sitting next to the author of the package.
</p>

<p>
The SciPy2014 sprint committee is calling for proposals for hosted sprints following the main sessions of the conference on July 11-12th.
To suggest a Sprint session, fill out a brief description after the following steps:
</p>

<p>
To submit a sprint proposal, <a href="https://conference.scipy.org/scipyla2016/account/signup/">sign up</a> or <a href="https://conference.scipy.org/scipyla2016/account/login/">log in</a> to your account.
    <ul style="list-style-position: inside;  padding-left: 1em;">
        <li>Create a speaker profile (if you haven't done so already)</li>
        <li>submit proposal</li>
        <li>sprints</li>
        <li>create new... </li>
    </ul>
</p>

<h2>The SciPyLA 2016 Sprint Chairs</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Corran Webster, Enthought, Inc</li>
<li>Jonathan Rocher, Enthought, Inc</li>
</ul>
-->
{% endblock %}
