{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "BoFs Call" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>WSSSPE 1.1 @ SciPy</h1>

<h2>Working towards Sustainable Software for Science, Practice and Experiences: WSSSPE1.1 @SciPy</h2>

<p>
Sustaining scientific software, across funding streams, research
interests, and participants, is increasingly viewed as one of the
major challenges facing computational science.  This half-day
workshop will collect and share experiences from the Scientific Python
ecosystem on how projects have successfully, and unsuccessfully,
addressed sustainability.  The workshop will open with presentations
from community leaders about how they have sustained development, and
will include a panel discussion and an open forum for discussion of
how to best manage education and training, funding, community growth,
development, and how to shape policy at the national and international
levels.
</p>

<p>
For more details on the WSSSPE community see <a href="http://wssspe.researchcomputing.org.uk/">their page</a>.
</p>

<h2>Event</h2>

   <div class="row" style="margin: 0;">
      <div class="free_cell">
        <div class="icon_date"><p>July</p>
          <p class="icon_date_w">Thursday</p>
          <p class="icon_date_day">10</p>
        </div>
      </div>
      <div class="free_cell" style="max-width: 70%; padding-top: 0.25em;">
        1pm - 5pm
      </div>
    </div>

<p>The workshop will be held at the AT&T Conference center in conjunction with SciPy.</p>

{% endblock %}
