{% extends "site_base_hp.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<div class="row">
  <div class="hp_cell">
    <h2>Attend</h2>
    <img src="site_media/static/img/about.png" width="251" height="84" alt="about scipy" class="hp_image" />
    <p>The annual SciPy Conference allows participants from academic,
    commercial, and governmental organizations to showcase their latest
    Scientific Python projects, learn from skilled users and developers, and
    collaborate on code development.</p>

    <p>We look forward to a very exciting conference and hope to see you at the 2014 conference.</p>
  </div>

  <div class="hp_cell" style="margin: 0 2%;">
    <h2>Be Inspired</h2>
    <p>We are excited to announce our keynote speakers.</p>
      <div class="row" style="border-top: 1px solid #cadbeb;">



<div class="free_cell">
          <img src="site_media/static/img/hs_barba.png" width="40" height="42" alt="Lorena Barba" />
        </div>
        <div class="free_cell" style="max-width: 75%;">
          <p style="margin-bottom: 0;"><em>Lorena A. Barba is Associate Professor of Mechanical and Aerospace Engineering at the George Washington University <a href="/scipy2014/keynotes"></em>[more...]</a></p>
        </div>
      </div>




      <div class="row" style="border-top: 1px solid #cadbeb;">
        <div class="free_cell">
          <img src="site_media/static/img/hs_coghlan.png" width="40" height="42" alt="Nick Coghlan" />
        </div>
        <div class="free_cell" style="max-width: 75%;">
          <p style="margin-bottom: 0;"><em>Nick Coghlan is a CPython core developer, a Fellow of the Python Software Foundation. <a href="/scipy2014/keynotes"></em>[more...]</a></p>
        </div>
      </div>
      <div class="row" style="border-top: 1px solid #cadbeb;">
        <div class="free_cell">
          <img src="site_media/static/img/hs_wilson.png" width="40" height="42" alt="Greg Wilson" />
        </div>
        <div class="free_cell" style="max-width: 75%;">
          <p style="margin-bottom: 0;"><em>Greg Wilson is the creator of Software Carpentry <a href="/scipy2014/keynotes"></em>[more...]</a></p>
        </div>
      </div>
  </div>

  <div class="hp_cell">
    <h2>Look Who's Talkin'</h2>
      <p>The speakers have been chosen and are busy creating yet another banner year for the SciPy conference</p>

      <p>The list of over 100 speakers can be found at on <a href="/scipy2014/participate/presentations/">the Talks/Posters page</a></li>.
      This year we have new minisymposium topics including Engineering with an outstanding showing from our two topic tracks: Education and Geospatial computing.</p>

      <p>
      This year our tutorials grows to four concurrent tracks to make for a stellar list of
      <a href="/scipy2014/participate/tutorials/">Accepted Tutorials</a>.  Adding a topics track this year, we
      hope to give participants a view into computing in new areas of science.
      </p>
      </ul>
  </div>


</div>

<div class="row">

  <div class="hp_cell">
    <h2>Plan</h2>

    <p>The 2014 conference will consist of two days of tutorials followed by <strong>three days of presentations</strong>, and concludes with two days of developer sprints on projects of interest to the attendees.</p>

    <div align="center">
      <table class="borders">
        <tr>
          <th class="borders" width="80">Session </th>
          <th class="borders"><div align="right">Std Price</th>
          <th class="borders"><div align="right">Academic<br />Price</th>
          <th class="borders"><div align="right">Student<br />Price</th>
        </tr>
        <tr>
          <td class="borders"><strong>Tutorials</strong><br />Jul 6th&nbsp;-&nbsp;7th</td>
          <td align="right" class="borders"> $&nbsp;525</td>
          <td align="right" class="borders"> $&nbsp;425</td>
          <td align="right" class="borders"> $&nbsp;325</td>
        </tr>
        <tr>
          <td class="borders"><strong>Conference</strong><br />Jul 8th&nbsp;-&nbsp;10th</td>
          <td align="right" class="borders"> $ 475</td>
          <td align="right" class="borders"> $ 375</td>
          <td align="right" class="borders"> $ 275</td>
        </tr>
        <tr>
          <td class="borders"><strong>Sprints</strong><br />Jul 11th&nbsp;-&nbsp;12th</td>
          <td align="right" class="borders"> $ 0</td>
          <td align="right" class="borders"> $ 0</td>
          <td align="right" class="borders"> $ 0</td>
        </tr>
      </table>
    </div>

   <a href="https://conference.scipy.org/scipy_registration/registration.php" class="btn btn-info btn-lg disabled" style="margin: 0 auto; display: block;" role="button">Register for SciPy2014</a></button>

   </div>


  <div class="hp_cell" style="margin: 0 2%;">
    <h2>What's it like?</h2>
    <p>Watch the video highlighting last years conference.</p>
    <a href="/scipy2014/video_highlights"><img src="site_media/static/img/video_placeholder.png" width="100%" alt="SciPy 2013 video highlights" class="hp_image" /></a>
    <p style="font-size: 0.75em; color: #333; text-align: right; margin-right: 1em;"><em>Video courtesy of Enthought, Inc.</em></p>
  </div>

  <div class="hp_cell">
    <h2>Be Social</h2>

     <p>Be sure to add these events to your SciPy schedule.</p>

     <div class="row" style="margin: 0;">
        <div class="free_cell">
          <div class="icon_date"><p>Jul</p>
          <p class="icon_date_w">Mon</p>
          <p class="icon_date_day">7</p>
        </div>
      </div>
      <div class="free_cell" style="max-width: 70%; padding-top: 0;">
        <strong>Enthought Reception</strong><br />6:30 ~ 9:00PM<br />Enthought Office
      </div>
    </div>

     <div class="row" style="margin-top: 0.5em;">
        <div class="free_cell">
          <div class="icon_date"><p>Jul</p>
          <p class="icon_date_w">Tue</p>
          <p class="icon_date_day">8</p>
        </div>
      </div>
      <div class="free_cell" style="max-width: 70%; padding-top: 0;">
        <strong>SciPy Annual Reception</strong><br />6:00PM ~ <br />Grand Ballroom, AT&T Center
      </div>
    </div>

     <div class="row" style="margin-top: 0.5em;">
        <div class="free_cell">
          <div class="icon_date"><p>Jul</p>
          <p class="icon_date_w">Wed</p>
          <p class="icon_date_day">9</p>
        </div>
      </div>
      <div class="free_cell" style="max-width: 70%; padding-top: 0;">
        <strong>Women in Computing Luncheon</strong><br />12:15 ~ 1:15PM<br />El Mercado <span style="font-size: 0.85em;">(<em>reservation required</em> )</span>
      </div>
    </div>

     <div class="row" style="margin-top: 0.5em;">
        <div class="free_cell">
          <div class="icon_date"><p>Jul</p>
          <p class="icon_date_w">Fri</p>
          <p class="icon_date_day">11</p>
        </div>
      </div>
      <div class="free_cell" style="max-width: 70%; padding-top: 0;">
        <strong>Texas BBQ Dinner</strong><br />6:00PM ~ <br />Scholtz's Beer Garten
      </div>
    </div>
  </div>


</div>

<div class="row">

  <div class="hp_cell">
    <h2>Stay Informed</h2>
    <p>To receive updates on conference specifics:</p>

    <a href="http://eepurl.com/N50Lb">
    <img src="site_media/static/img/newsletter_icon.png" width="32" height="32"  alt="newsletter" style="float: left; margin: 0 0.5em 0 0;" />
    <p>Subscribe to the SciPy 2014 announcements.</p>
    </a>

    <div class="row"  style="margin-top: 0;">
      <div class="cell" style="width: 45%; padding: 0;">
        <img src="site_media/static/img/twitter-bird-light-bgs.png" width="32" height="32" alt="twitter" style="display: block;" />
        <p class="callout_description">Follow <a href="https://twitter.com/SciPyConf">@SciPyConf</a></p>
      </div>

      <div class="cell" style="width: 45%; padding: 0 0 0 1em; border-left: 1px solid #cadbeb;">
        <img src="site_media/static/img/gplus-32.png" width="32" height="32"  alt="g-plus" style="display: block;" />
        <span class="callout_description"><a href="https://plus.google.com/u/0/100948873231627513165/posts">ScipyConference</a></span>
      </div>
    </div>


  </div>


  <div class="hp_cell" style="margin: 0 2%;">
    <h2>WSSSPE1.1 Workshop</h2>
    <img src="site_media/static/img/about.png" width="251" height="84" alt="about scipy" class="hp_image" />
    <p>SciPy is proud to host the <strong>Working towards Sustainable Software for Science, Practice and Experiences: WSSSPE1.1</strong> workshop</p>

    <p>For more information the see <a href="/scipy2014/participate/wssspe">WSSSPE1.1 page</a></p>
  </div>


  <div class="hp_cell">
    <h2>Job Fair &amp; Listings</h2>
    <p style="padding: 0.25em;">New this year: a Job Fair during the opening night reception. So bring your resume!
Several sponsors have job openings and want to speak with attendees about their opportunities.</p>
<p>Check out the <a href="job_listings/">job listings page</a> ahead of time and plan to speak with sponsors at the Job Fair.</p>
  </div>
</div>

</div>

{% endblock %}
