{% extends "site_base.html" %}

{% load i18n %}
{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <p class="highlight">Deadline for submissions extended to April 3rd. Visit the <a href="speaking_submission.php">submission page</a> to add your presentation abstract.</p>
    
    <img src="site_media/static/img/austin.jpg" width= "270" height="171" alt="Austin, TX" class="right" />
    
<table width="30%" style="float: right; clear: both;">
<tr>
  <th colspan="2">Upcoming Important Dates</th>
</tr>

<tr>
  <td><div class="icon_date">Mar<br /><span class="icon_date_day">25</span></div></td>
  <td style="font-size: 0.75em;">Application for <a href="reg_fin_aid.php">Sponsorship</a> deadline</td>
</tr>
<tr>
  <td><div class="icon_date">Apr<br /><span class="icon_date_day">01</span></div></td>
  <td style="font-size: 0.75em;"><a href="tutorial_submission.php">Tutorial submission</a> deadline.</td>
</tr>
<tr>
  <td><div class="icon_date">Apr<br /><span class="icon_date_day">01</span></div></td>
  <td style="font-size: 0.75em;">Deadline for <a href="john_hunter_plotting_contest.php">plotting contest</a> contributions</td>
</tr>
<tr>
  <td><div class="icon_date">Apr<br /><span class="icon_date_day">03</span></div></td>
  <td style="font-size: 0.75em;"><a href="speaking_submission.php">Presentation abstracts, poster</a> submissions deadline.</td>
</tr></table>

<div class="callout">
<h1>More</h1>
<p>To receive updates on conference specifics:</p>

<div class="callout_row">
  <img src="img/newsletter_icon.png" width="32" height="32"  alt="newsletter" class="callout_date" />
  <span class="callout_description"><a href="http://eepurl.com/dyoeL">Subscribe to the SciPy 2014 newsletter</a></span>
</div>

<div class="callout_row">
  <img src="img/twitter-bird-light-bgs.png" width="32" height="32" alt="twitter" class="callout_date" />
  <span class="callout_description">Follow <a href="https://twitter.com/SciPyConf">@SciPyConf</a></span>
</div>

<div class="callout_row">
  <img src="img/gplus-32.png" width="32" height="32"  alt="g-plus" class="callout_date" />
  <span class="callout_description"><a href="https://plus.google.com/u/0/100948873231627513165/posts">ScipyConference google+ page</a></span>
</div>
</div>

    {% box "homepage" %}
    

    &nbsp;
{% endblock %}
