{% extends "site_base_hp.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<div class="row">
  <div class="hp_cell">
    {% box "hp_row1_left" %}
  </div>
  <div class="hp_cell">
    {% box "hp_row1_middle" %}

  </div>
  <div class="hp_cell">
    {% box "hp_row1_right" %}
  </div>
</div>

<div class="row">
    <div class="hp_cell">
    <h2>Stay Informed</h2>
    <p>To receive updates on conference specifics:</p>

  <img src="site_media/static/img/newsletter_icon.png" width="32" height="32"  alt="newsletter" class="callout_date" />
  <p>Subscribe to the SciPy 2014 announcements.</p>
  <style type="text/css">
.link,
.link a,
#SignUp .signupframe {color: #226699;font-family: Arial, Helvetica, sans-serif;font-size: 13px;border: none;}
.link, .link a {text-decoration: none;}
#SignUp .signupframe {width: 100%;border: 1px solid #000000;background: #ffffff;}
#SignUp .signupframe .required {font-size: 10px;}
</style>
<script type="text/javascript" src="http://app.icontact.com/icp/loadsignup.php/form.js?c=1254645&l=7470&f=2197"></script>


<div class="row"  style="margin-top: 0;">
  <div class="cell" style="width: 45%; padding: 0;">
  <img src="site_media/static/img/twitter-bird-light-bgs.png" width="32" height="32" alt="twitter" style="display: block;" />
  <p class="callout_description">Follow <a href="https://twitter.com/SciPyConf">@SciPyConf</a></p>
</div>

  <div class="cell" style="width: 45%; padding: 0 0 0 1em; border-left: 1px solid #cadbeb;">
  <img src="site_media/static/img/gplus-32.png" width="32" height="32"  alt="g-plus" style="display: block;" />
  <span class="callout_description"><a href="https://plus.google.com/u/0/100948873231627513165/posts">ScipyConference</a></span>
  </div>
  </div>
</div>
  <div class="hp_cell">
    {% box "hp_row2_middle" %}
  </div>
  <div class="hp_cell">
    {% box "hp_row2_right" %}
  </div>
</div>


{% endblock %}
