{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<div class="row">
  <div class="free_cell"><h1>SciPy 2014 Sponsorship</h1></div>
  <div class="free_cell pdf-button" ><a href="../site_media/static/pdf/scipy2014-sponsor-prospectus.pdf"><img src="../site_media/static/img/pdficon_large.png" /><br />pdf</a></div>
</div>

<p>As a community, SciPy advances scientific and analytic computing through the 
development and promotion of open source Python software; Python usage 
continues to grow significantly in scientific and analytic computing thanks to 
the efforts of this community.</p>

<p>The annual SciPy Conference brings together academic and industry users to 
present their latest work, learn from skilled users and developers, and 
collaborate on advancing the ecosystem. Attendance in 2013 grew 70% to 330 
people; our goal for 2014 is 500+. And based on feedback from last year’s 
attendees, we’ve increased the length of the conference by one day to 
accommodate all the events and talks.</p>

<p>2-days of Tutorials</p>

<p style="padding-left: 2em;">We provide two days of expert-led tutorials at 
the start of the conference. These tutorials are very popular, with an 
introductory track for attendees new to Python, and intermediate and advanced 
tracks for experienced users.</p>

<p>3-days of Talks, BoFs, Poster Sessions and Mini-symposia</p>

<p style="padding-left: 2em;">Authors share their juried presentations and 
poster papers covering the latest developments in the use of Python in science 
during the three main days of the conference. Birds-of-a-Feather sessions, 
Mini-symposia presentations, Lightning talks and Keynote presentations provide 
a wide variety of opportunities for attendees to participate and learn.</p>

<p>2-days of Sprints</p>

<p style="padding-left: 2em;">Each year, two days of sprints wrap up the SciPy 
Conference and provide an opportunity for collaborative coding and 
problem-solving on SciPy open-source projects. Last year’s sprints contributed 
real, significant progress for many packages and tools. The Matplotlib 
sprinters alone checked in close to 10,000 lines of code.</p>

<h2>Why Sponsor?</h2>

<h3>Contribute to the growth of the community and code base:</h3>

<p>Your sponsorship helps us build a financial foundation for the conference 
and the community, providing more opportunities for the community to build out 
the Python scientific computing tools and packages.</p>

<h3>Build awareness, recruit, and make contacts:</h3>

<p>New this year is the SciPy Job Fair. We will be hosting this event one 
evening of the general session so everyone has a chance to attend. Sponsors who 
choose to participate will have a chance to meet with attendees and discuss 
opportunities and potential fit. SciPy brings together some of the best minds 
in scientific and analytic computing, 25% of them students; you’ll be 
hard-pressed to find this kind of audience anywhere else.</p>

<h3>Help fund attendance:</h3>

<p>SciPy offers scholarships for students and researchers who contribute to the 
community. In 2013 we were able to pay the travel, registration, and lodging 
costs for 15 applicants selected for their outstanding contributions to open 
source scientific Python projects. In the last 8 years over 70 students have 
attended from countries around the world.</p>

<p>Sponsorships also help us to keep this meeting very affordable compared to 
many others.</p>

<h2>2013 Sponsor Participation</h2>

<p>At SciPy 2013, sponsorships increased 50% over 2012 thanks to the generosity 
of Los Alamos National Lab, Google, Continuum Analytics, GitHub, indeed, 
Kitware, NumFOCUS, Python Software Foundation, Schrodinger, wise.io, WingWare, 
and our Institutional Sponsor, Enthought. Media and Community sponsors included 
Computing Science & Engineering, no starch press, O’Reilly, pyladies and Python 
Weekly.</p>

<h2>2014 Sponsor Event Schedule</h2>

<table>
  <tr>
    <th>Schedule</th>
    <th>Sponsor Events</th>
  </tr>
  <tr>
    <td>Sun – Mon: Tutorials</td>
    <td>Mon evening: Enthought Offsite Reception</td>
  </tr>
  <tr>
    <td>Tue: General Session Day 1</td>
    <td>Sponsored Students + Sponsors breakfast Morning refreshment break<br />
        Lunch<br />
        Afternoon refreshment break<br />
        Main Event Reception - Book signings</td>
  </tr>
  <tr>
    <td>Wed: General Session Day 2</td>
    <td>Morning refreshment break Lunch<br />
        Afternoon refreshment break SciPy Job Fair and happy hour</td>
  </tr>
  <tr>
    <td>Thu: General Session Day 3</td>
    <td>Morning refreshment break Lunch<br />
        Afternoon refreshment break Sponsor offsite happy hours</td>
  </tr>
  <tr>
    <td>Fri: Sprints Day 1</td>
    <td>Sprint sponsor<br />
       Friday evening happy hour / dinner</td>
  </tr>
  <tr>
    <td>Sat: Sprints Day 2</td>
    <td>Sprint sponsor</td>
  </tr>
</table>

<h2>General Sponsorship Packages Available:</h2>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Platinum <span style="font-size: 0.75em;">(three available)</span></div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">$12,000</div>
</div>

<p>Benefits:</p> 
<ul>
  <li>Platinum Sponsor link with logo on SciPy 2014 website</li>
  <li>12' x 2' banner (sponsor provided) in main session auditorium</li>
  <li>Listed as the sponsor of outstanding student SciPy contributors</li>
  <li>Large logo on t-shirt provided to all attendees</li>
  <li>Listed as Platinum Sponsor on 4’ x 8’ Sponsor Banner at main entrance</li>
  <li>Table in SciPy Job Fair and promotion of jobs to attendee list</li>
  <li>Listing on the SciPy 2014 Jobs page from May 1 – Aug 31, 2014</li>
  <li>Attendance at Sponsored Student breakfast first day of general session</li>
  <li>Opportunity to host Thursday evening happy hour offsite</li>
  <li>1/2 page advertisement in program</li>
  <li>4 General Session Passes</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Lanyard Option <span style="font-size: 0.75em;">(one available)</span></div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">Platinum + $1,000</div>
</div>

<p>Benefits:</p> 
<ul>
  <li>Logo on attendee lanyards (and all Platinum benefits)</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Gold</div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">$4,000</div>
</div>

<p>Benefits:</p>
<ul>
  <li>Gold Sponsor link with logo on SciPy 2014 website</li>
  <li>Medium logo on t-shirt provided to all attendees</li>
  <li>Listed as Gold Sponsor on 4’ x 8’ Sponsor Banner at main entrance</li>
  <li>Table in SciPy Job Fair and promotion of jobs to attendee list</li>
  <li>Listing on the SciPy 2014 Jobs page from May 1 – Aug 31, 2014</li>
  <li>Listed (with sign) as sponsor of one am or pm refreshment break in general session</li>
  <li>Attendance at Sponsored Student breakfast first day of general session</li>
  <li>Opportunity to host Thursday evening happy hour offsite</li>
  <li>1/4 page advertisement in program</li>
  <li>3 General Session Passes</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Silver</div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">$2,000</div>
</div>

<p>Benefits:</p>
<ul>
  <li>Silver Sponsor link with logo on SciPy 2014 website</li>
  <li>Small logo on t-shirt provided to all attendees</li>
  <li>Listed as Silver Sponsor on 4’ x 8’ Sponsor Banner at main entrance</li>
  <li>Attendance at Sponsored Student breakfast first day of general session</li>
  <li>1/8 page advertisement in program</li>
  <li>2 General Session Passes</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Media and Community Sponsors</div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">co-promotion</div>
</div>

<p>Promotion opportunities:</p>
<ul>
  <li>logo on website</li>
  <li>email to conference list</li>
  <li>social media promotion</li>
  <li>mention in newsletter to 50K+ list</li>
  <li>...</li>
</ul>

<div class="row" style="border-bottom: 1px solid #003399;">
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold;">Additional Opportunities:</div>
  <div class="free_cell" style="color: #003399; font-size: 1.2em; font-family: Michroma;   font-weight: bold; float: right;">&nbsp;</div>
</div>
<div style="clear: both;"></div>
<ul>
  <li>$12,000 Sponsor Evening Welcome Reception (includes most Gold level benefits)</li>
  <li>$10,000 Sponsor a general session lunch (includes most Gold level benefits)</li>
  <li>$5,000 Sponsor Friday evening Sprint dinner/happy hour (includes most Gold level benefits)</li>
  <li>$1,500 Sponsor a Friday or Saturday Sprint (two available, listing as sponsor)</li>
</ul>

<p>Please email <a href="mailto:scipy-organizers@scipy.org">scipy-organizers@scipy.org</a> with any questions or to reserve your Sponsorship Package.
</p>

{% endblock %}
