{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>{% trans "Code of Conduct" %}</h1>

<p>{% trans "SciPyLA is a community conference intended for networking and collaboration in the scientific Python developer community." %}</p>

<p>{% trans "We value the participation of each member of this community and want all attendees to have an enjoyable and fulfilling experience. Accordingly, all attendees are expected to show respect and courtesy to other attendees throughout the conference and at all conference events, whether officially sponsored by SciPyLA or not." %}</p>

<p>{% trans "To make clear what is expected, all delegates, speakers, exhibitors and volunteers at any SciPyLA event are required to conform to the following Code of Conduct.  Organizers will enforce this code throughout the event." %}</p>

<h2>{% trans "Overview" %}</h2>

<p>{% trans "SciPyLA is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, sexual orientation, disability, physical appearance, body size, race, or religion. We do not tolerate harassment of conference participants in any form." %}</p>

<p>{% trans "All communication should be appropriate for a professional audience including people of many different backgrounds. Sexual language and imagery is not appropriate for any conference venue, including talks." %}</p>

<p>{% trans "Be kind to others. Do not insult or put down other attendees. Behave professionally.  Remember that harassment and sexist, racist, or exclusionary jokes are not appropriate for SciPyLA." %}</p>

<p>{% trans "Attendees violating these rules may be asked to leave the conference without a refund at the sole discretion of the conference organizers." %}</p>

<p>{% trans "Thank you for helping make this a welcoming, friendly event for all." %}</p>

<h2>{% trans "Details" %}</h2>

<p>{% trans "Harassment includes offensive verbal comments related to gender, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention." %}</p>

<p>{% trans "Participants asked to stop any harassing behavior are expected to comply immediately." %}</p>

<p>{% trans "Exhibitors in the expo hall, sponsor or vendor booths, or similar activities are also subject to the anti-harassment policy. In particular, exhibitors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment." %}</p>

<p>{% trans "Be careful in the words that you choose. Remember that sexist, racist, and other exclusionary jokes can be offensive to those around you. Excessive swearing and offensive jokes are not appropriate for SciPyLA." %}</p>

<p>{% trans "If a participant engages in behavior that violates this code of conduct, the conference organizers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund." %}</p>

<h2>{% trans "Contact Information" %}</h2>

<p>{% trans "If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff or a conference volunteer." %}</p>

<p>{% trans "If the matter is especially urgent, please call/contact any of these individuals:" %}</p>

<ul>
<li>{% trans "Ivan Ogasawara (conference chair) at +55 48 9909 0207" %}</li>
<li>{% trans "Raniere Gaia Costa da Silva (conference co-chair) at +55 19 988 196 827" %}</li>
</ul>

<p>{% trans "The conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance." %}</p>

<p>{% trans "This Code of Conduct was forked the PyCon Code of Conduct, which itself was forked from the example policy from the Geek Feminism wiki, created by the Ada Initiative and other volunteers which is under a Creative Commons Zero license." %}</p>

<p>{% trans "Conference Code of Conduct is licensed under a Creative Commons Attribution 3.0 Unported License." %}</p>

{% endblock %}
