{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>The SciPyLA 2016 Organization Team</h1>

<h2>Executive Committee</h2>

<h3>Conference Chair:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Ivan Ogasawara</li>
<li>Raniere Gaia Costa da Silva</li>
</ul>
<br/>

<h3>Academic Chair:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Antonio Fernando Härter Fetter Filho</li>
</ul>
<br/>

<h3>Scientific Chair:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Melissa Weber Mendon ̧ca</li>
</ul>
<br/>

<!--
<h3>Communications:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Anthony Scopatz, University of Wisconsin-Madison</li>
<li>Matthew Turk, Columbia University</li>
</ul>
<br/>

<h3>Birds of Feathers:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Kyle Mandli, University of Texas at Austin</li>
<li>Matt McCormick, Kitware Inc.</li>
</ul>
<br/>

<h3>Proceedings:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Stefan van der Walt, Stellenbosch University</li>
<li>James Bergstra, University of Waterloo</li>
</ul>
<br/>

<h3>Financial Aid:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>John Wiggins, Enthought Inc.</li>
<li>Jeff Daily, Pacific Northwest National Laboratory</li>
</ul>
<br/>
-->

<h3>Tutorials:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Jeudy Blanco Vega</li>
</ul>
<br/>

<!--
<h3>Sprints:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li> Corran Webster, Enthought Inc.</li>
<li> Jonathan Rocher, Enthought Inc.</li>
</ul>
<br/>

<h3>Technical:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li> Matthew Terry, Nextdoor.com</li>
<li> Sheila Miguez</li>
<li> Jim Ivanoff, Polar Bear Design</li>
</ul>
<br/>

<h3>Sponsors:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Brett Murphy, Enthought Inc.</li>
<li>Jill Cowan, Enthought Inc.</li>
</ul>
<br/>

<h3>Financial:</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Bill Cowan, Enthought Inc.</li>
<li>Jodi Havranek, Enthought Inc.</li>
</ul>
<br/>

<h3>Logistics</h3>

<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Leah Jones, Enthought Inc.</li>
</ul>
<br/>
-->

<h2>Program Committee</h2>

<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Antonio Kanaan</li>
    <li>Filipe Pires Alvarenga Fernandes</li>
    <li>Horacio Andres Vargas Guzmán</li>
    <li>João Felipe Nicolaci Pimentel</li>
    <li>Letícia Portella</li>
    <li>Luiz Rafael Santos</li>
    <li>Matheus Braun Magrin</li>
    <li>Mário Sérgio Oliveira de Queiroz</li>
</ul>
<br/>

<!--
<h2>Mini Symposiums Committee</h2>
<ul style="list-style-position: inside;  padding-left: 1em;">
    <li>Thomas Robitaille - Astronomy and Astrophysics</li>
    <li>Tracy Teal - Bioinformatics</li>
    <li>Matt Hall - Geophysics</li>
    <li>Matthew McCormick - Vision, Visualization, and Imaging</li>
    <li>Dav Clark - Computational Social Science and Digital Humanities</li>
    <li>Trevor Blanarik and Nicholas Lederer - Engineering</li>
</ul>


<h2>Diversity Committee</h2>
<ul style="list-style-position: inside;  padding-left: 1em;">
<li>Patricia Francis-Lyon, University of San Francisco</li>
<li>Katy Huff, University of California, Berkeley</li>
<li>Leah Silen, Numfocus</li>
<li>Kristen Thyng, Texas A&amp;M University</li>
</ul>
<br/>
-->

{% endblock %}
