{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>Directions</h1>

<div style="float: right; margin: 0 0 1em 1em;">
<iframe width="350" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=1900+University+Avenue,+Austin,+Texas+78705&amp;sll=37.0625,-95.677068&amp;sspn=28.529345,56.25&amp;ie=UTF8&amp;hq=&amp;hnear=1900+University+Ave,+Austin,+Travis,+Texas+78705&amp;source=embed&amp;t=m&amp;ll=30.282936,-97.74004&amp;spn=0.014824,0.029955&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=1900+University+Avenue,+Austin,+Texas+78705&amp;sll=37.0625,-95.677068&amp;sspn=28.529345,56.25&amp;ie=UTF8&amp;hq=&amp;hnear=1900+University+Ave,+Austin,+Travis,+Texas+78705&amp;source=embed&amp;t=m&amp;ll=30.282936,-97.74004&amp;spn=0.014824,0.029955&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</div>

<p><a href="http://www.meetattexas.com/driving-directions.html" target="blank">Driving directions</a> are available at the AT&amp;T Executive Education and Conference Center website.</p>

<p>Local bus service <a href="http://www.capmetro.org/planner/">trip planner</a>. Also use "Public Transit" option for directions on <a href="http://maps.google.com/maps?f=q&amp;hl=en&amp;geocode=&amp;q=1900+University+Avenue,+Austin,+Texas+78705&amp;sll=37.0625,-95.677068&amp;sspn=28.529345,56.25&amp;ie=UTF8&amp;hq=&amp;hnear=1900+University+Ave,+Austin,+Travis,+Texas+78705&amp;ll=30.282936,-97.739997&amp;spn=0.016936,0.017381&amp;z=16&amp;source=embed" target="blank">Google Map</a>.</p>

<p>If you're coming from the Austin-Bergstrom International Airport, we recommend catching the Airport Flyer. The conference center is next door to the Blanton Museum. We recommend using the "TRINITY / 18TH" stop - two stops prior to Timepoint 1 on this <a href="../site_media/static/pdf/100.PDF" target="_blank">schedule and map (PDF)</a>. Or see an <a href="http://www.capmetro.org/schedulemap.aspx?f1=100&s=1&d=1" target="_blank">interactive map</a>.</p>

{% endblock %}