{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}


<h1>Venue Lodging Details</h1>

<img src="../site_media/static/img/attHotel.jpg" alt="AT&amp;T Executive Conference Center Hotel" height="233" width="350" class="right" />

<p>On-site lodging for SciPy 2014 is available at the AT&amp;T Executive Conference Center Hotel. Hotel rooms are available at a conference rate of <span class="highlight">$###</span> a night plus tax, which is <span class="highlight">##%</span> less than other downtown Austin hotels at that time.  Make your reservations soon because at this rate, availability won't last long!</p>

<p>All rooms are equipped with widescreen HD flat-panel TVs, high-speed Internet, and a range of other amenities. Hotel guests also have access to the fitness center and outdoor pool.</p>

<p>Other lodging options:</p>

<p><a href="http://doubletree3.hilton.com/en/hotels/texas/doubletree-suites-by-hilton-hotel-austin-AUSFLDT/index.html">DoubleTree by Hilton Hotel Austin</a><br />
303 W. 15th Street<br />
Austin, TX 78701</p>

<p><a href="http://doubletree3.hilton.com/en/hotels/texas/doubletree-by-hilton-hotel-austin-university-area-AUSIMDT/index.html">DoubleTree by Hilton Hotel Austin - University Area</a><br />
1617 IH-35 North<br />
Austin, TX 78702</p>

<p><a href="http://www.starwoodhotels.com/sheraton/property/overview/index.html?propertyID=3079">Sheraton Austin Hotel at the Capitol</a><br />
701 East 11th Street<br />
Austin, TX 78701</p>

<p><a href="http://www.extendedstayamerica.com/property/extended-stay-america-austin-downtown-6th-st-hotel.html">Extended Stay America - Austin - Downtown - 6th St.</a><br />
600 Guadalupe St.<br />
Austin, TX 78701</p>
{% endblock %}