{% extends "site_base.html" %}

{% load i18n %}

{% load boxes_tags %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}

<h1>Restaurants</h1>

	<h2>Nearby</h2> 
	<ul>
		<li><a href="http://www.yelp.com/biz/arturos-bakery-and-cafe-austin">Arturo's</a> Casual, healthy breakfast and lunch spot with tacos, sandwiches, salads.</li>
		<li><a href="http://www.flyingfalafelaustin.com/">Flying Falafel &amp; Po-Boys</a> Fast, tasty, & affordable for lunch and dinner.</li>
		<li><a href="http://www.yelp.com/biz/hai-ky-cafe-austin">Hai Ky</a> Vietnamese lunch spot, popular with SciPy attendees in the past.</li>
		<li><a href="http://www.austinplayers.com/">Players</a> American burger joint, popular with UT sports fans. Right outside the conference center!</li>
		<li><a href="http://www.yelp.com/biz/el-mercado-restaurant-austin-3">El Mercado</a> Nearby Mexican, can accommodate large parties.</li>
		<li><a href="http://www.yelp.com/biz/the-carillon-austin-2">The Carillon</a> Situated in the AT&amp;T Conference Center Hotel, the most convenient option for high-end dining.</li>
		<li><a href="http://www.kerbeylanecafe.com/">Kerbey Lane</a> Homegrown diner-style food. Open 24 hours.</li>
		<li><a href="http://www.claypit.com/Home.asp?LOCID=2">Clay Pit</a> Contemporary Indian. More formal atmosphere than most restaraunts in the area.</li>
		<li><a href="http://rubysbbq.com/">Ruby's BBQ</a> Authentic Anthony Bourdain-approved Texan BBQ just north of campus.</li>
		<li><a href="http://www.madammam.com/location.html">Madam Mam's</a> Fresh, spicy, and flavorful Thai cuisine.</li>
		<li><a href="http://www.torchystacos.com/">Torchy's Tacos</a> Award-winning hot sauce and inventive combinations. Tacos are an Austin essential. </li>
		<li><a href="http://www.scholzgarten.net/">Scholz Garten</a> Historic biergarten with BBQ, German plates, and burgers.</li>
		<li><a href="http://www.yelp.com/biz/cocos-cafe-austin">Coco's Cafe</a> Bubble tea and Taiwanese menu. </li>
		<li><a href="http://veggieheavenaustin.com/chinesemusic.aspx">Veggie Heaven</a> Vegetarian Asian cuisine; a student standby.</li>
		<li><a href="http://www.trudys.com/">Trudy's</a>, <a href="http://www.holeinthewallaustin.com/">Hole in the Wall</a>, <a href="http://www.dogandduckpub.com/">Dog and Duck</a> Favorite spots for drinks near campus.</li>
	</ul>
	<h2>Elsewhere</h2>
	<ul>
		<li><a href="http://www.stubbsaustin.com/">Stubb's</a> Legendary BBQ and live music venue.</li>
		<li><a href="http://www.uchiaustin.com/">Uchi</a> Exceptional Japanese fusion menu. One of the city's most acclaimed restaurants.</li>
		<li><a href="http://www.polvosaustin.com/">Polvo's</a>, <a href="http://www.guerostacobar.com/">Guero's</a>, <a href="http://www.chuys.com">Chuy's</a> Popular takes on Tex-Mex.</li>
	    <li><a href="http://www.midorisushiaustin.com/">Midori Sushi</a> Reliably yummy sushi restaraunt in North Austin.</li>
	    <li><a href="http://www.motherscafeaustin.com/">Mother's Cafe &amp; Garden</a> Vegan and vegetarian favorite. Great soups, enchiladas, veggie burgers and desserts. </li>
	    <li><a href="http://www.saltlickbbq.com/">Salt Lick Bar-B-Que</a> A Hill Country Institution. BYOB family-style barbeque.</li>
	    <li><a href="http://www.madraspavilion.us/">Madras Pavillion</a>, <a href="http://www.yelp.com/biz/swad-austin">Swad</a> Two delectable vegetarian Indian spots in North Austin.</li>
	    
	</ul>

{% endblock %}