{% load sponsorship_tags %}
{% load thumbnail %}
{% load boxes_tags %}

{% box "sponsor-sidebar" %}

<div class="sponsor-list">
    {% for level in sponsor_levels %}
        {% if level.sponsors %}
            <h4 style="margin-top: 3em;">{{ level.name }}</h4>
            {% for sponsor in level.sponsors %}
                <div style="margin: 10px 0;">
                    <a href="{{ sponsor.external_url }}">
                        <img src="{% thumbnail sponsor.website_logo '250x90' %}" alt="{{ sponsor.name }}" style="display: block;margin: 1em auto;" />
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
